body {
  margin-top: 75px;
  background-color: #f1f1f1;
}

a {
  color: #000;
}

a:hover {
  text-decoration: none;
  color: #000;
}

.btn {
  border-radius: 3px;
  padding: 5px 25px;
}

.btn-primer {
  background-color: #42b549;
  border-color: #118118;
  color: #fff;
}

.btn-primer:hover {
  background-color: #118118;
  color: #fff;
}

.row-eq-height {
  display: flex;
  flex-wrap: wrap;
}

/* Global */

.App {
  text-align: center;
  font-family: Source Sans Pro;
  padding: 15px 0;
}

.img-box img {
  width: 100%;
}

/* Navbar */
.navbar-default {
  background-color: #081c24;
  border: 0;
  border-radius: 0;
  padding: 10px 0;
  box-shadow: rgba(0, 0, 0, 0.4) 0 2px 6px 0;
}

.navbar-default .navbar-brand {
  font-weight: 700;
  color: #42b549;
  font-size: 30px;
  font-family: Comfortaa;
  letter-spacing: 3px;
}

.navbar-default .navbar-brand:hover {
  color: #118118;
}

.navbar-default .nav > li {
  background-color: #42b549;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
  font-family: Source Sans Pro;
  font-size: 16px;
  font-weight: 400;
}

.navbar-default .navbar-nav > li > a span {
  font-weight: 600;
  letter-spacing: 0.5px;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #fff;
}

/* Home */
/* Home - NowPlaying */
.sub-header {
  font-size: 36px;
  font-family: Oswald;
  font-weight: 700;
}

.list-box {
  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
  margin: 30px 0;
  position: relative;
}

.list-box .detail {
  background-color: #fff;
  padding: 15px 10px;
  border-bottom: solid 3px #42b549;
}

.list-box .detail .title {
  font-size: 18px;
  font-weight: 700;
  color: #000;
}

.list-box .rating {
  background-color: #42b549;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  position: absolute;
  padding: 10px;
  border-radius: 100%;
  top: -15px;
  right: 5px;
  min-width: 45px;
}

.list-box .detail .price {
  font-family: Oswald;
  font-size: 22px;
}

/* Home - Pagination */
.pagination button {
  border: 0;
  font-size: 20px;
  font-weight: 700;
  background-color: #42b549;
  color: #fff;
  letter-spacing: 1px;
  padding: 10px 25px;
  border-radius: 5px;
  margin: 0 15px;
}

/* Movie */
.movie-box {
  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
  margin: 0 auto;
  width: 75%;
  padding: 15px 10px;
  background-color: #fff;
  position: relative;
}

/* Movie:Details */
.movie-box .detail .title {
  font-size: 36px;
  letter-spacing: 0.5px;
  font-weight: 700;
}

.movie-box .detail .title span {
  font-size: 24px;
  letter-spacing: 0.5px;
  font-weight: 400;
}

.movie-box .detail .tagline {
  font-size: 20px;
  font-style: italic;
}

.movie-box .detail .overview {
  font-size: 18px;
  text-align: justify;
}

/* Movie:Rating */
.movie-box .detail .rating span {
  font-size: 18px;
  font-weight: 700;
  color: #f1c40f;
}

.movie-box .detail .rating .progress {
  margin-bottom: 0;
  margin-right: 10px;
  height: 5px;
  width: 100px;
  display: inline-block;
}

.movie-box .detail .rating .progress-bar {
  background-color: #f1c40f;
}

/* Movie:Purchase */
.movie-box .purchase {
  text-align: center;
}

.movie-box .purchase .genres {
  margin: 5px 0 10px;
}

.movie-box .purchase .genres .badge {
  font-weight: normal;
  padding: 5px 10px;
  margin: 0 5px;
}

.movie-box .purchase .runtime {
  margin-bottom: 0;
}

.movie-box .purchase .runtime span {
  font-weight: 700;
}

.movie-box .purchase .price {
  font-family: Oswald;
  font-size: 24px;
}
.movie-box .purchase .btn-purchase {
  font-size: 20px;
  color: #fff;
  letter-spacing: 1px;
  font-family: Oswald;
  margin: 0 auto;
  display: inline-block;
}

.movie-box .purchase .btn-purchase[disabled] {
  background-color: #000;
  cursor: default;
}

.modal-content {
  text-align: center;
  border-radius: 3px;
}

.modal-content .modal-header {
  background-color: #42b549;
  color: #fff;
}

/* Movie:Casts */
.cast-slider {
  margin: 30px 0;
}

.cast-slider .slick-slide {
  margin: 0 5px;
}

.cast-slider .slick-slide {
  margin: 0 5px;
}

.cast-box {
  box-shadow: rgba(0, 0, 0, 0.4) 0 -5px 6px 0;
  text-align: center;
}

.cast-box .name {
  padding-top: 10px;
  margin-bottom: 0;
  font-weight: 700;
}

/* Movie:Related */
.related {
  box-shadow: rgba(0, 0, 0, 0.4) 0 2px 6px 0;
  background-color: #fff;
  margin: 30px auto 5px;
}

.related .related-box {
  padding: 15px 10px;
}

.related .related-box .header {
  font-size: 28px;
  font-family: Oswald;
}

.related .title {
  font-weight: 600;
  text-align: center;
}

/* Footer */
.footer {
  background-color: #081c24;
  text-align: center;
  padding: 15px 0;
  border-top: solid 3px #118118;
}

.footer a {
  margin-bottom: 0;
  color: #42b549;
  font-size: 18px;
  font-weight: 700;
}

/* Responsive */
@media (max-width: 475.98px) {
  .xs-to-1 {
    width: 100%;
  }
  .navbar-default .navbar-brand {
    font-size: 20px;
  }
  .nav.balance a {
    font-size: 14px;
  }
}

@media (max-width: 782px) {
  .navbar-default .container {
    position: relative;
  }
  .nav.balance {
    position: absolute;
    right: 25px;
    top: -5px;
  }
  .movie-box {
    width: 100%;
  }
}
