.App {
  text-align: center;
}

/* Navbar */
.navbar-default {
  background-color: #081c24;
  border: 0;
  border-radius: 0;
  padding: 10px 0;
  box-shadow: rgba(0, 0, 0, 0.4) 0 2px 6px 0;
}

.navbar-default .navbar-brand {
  font-weight: 700;
  color: #42b549;
  font-size: 30px;
  font-family: Comfortaa;
  letter-spacing: 3px;
}

.navbar-default .navbar-brand:hover {
  color: #118118;
}

.navbar-default .nav > li {
  background-color: #42b549;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
  font-family: Source Sans Pro;
  font-size: 16px;
  font-weight: 400;
}

.navbar-default .navbar-nav > li > a span {
  font-weight: 600;
  letter-spacing: 0.5px;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #fff;
}
