.App {
  text-align: center;
}

/* Navbar */
.navbar-default {
  background-color: #081c24;
}

.navbar-default .navbar-brand {
  font-weight: 700;
  color: #42b549;
  font-size: 20px;
  font-family: Comfortaa;
  letter-spacing: 3px;
}

.navbar-default .navbar-brand:hover {
  color: #118118;
}

.navbar-default .nav > li {
  background-color: #42b549;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #fff;
}
